.content{
    position: absolute;
    width: calc(100vw - 350px);
    padding: 50px 150px 0px 200px;
}

@media only screen and (max-width: 800px){
    .content{
        width: calc(100vw - 100px);
        padding: 20px 50px 0px 50px;
    }
}